body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: #50c878; /* Emerald green */
    font-family: Arial, sans-serif;
    margin-bottom: 1rem;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #fff;
}

#score-counter {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}
