body {
    font-family: Arial, sans-serif;
    background-color: #4f4f4f;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    color: #50c878;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#score-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    color: #37935f;
}

#current-score, #top-score, #death-count {
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 0 5px;
}

#current-score span, #top-score span, #death-count span {
    color: #295b44;
}

canvas {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

main p {
    color: #37935f;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    color: #50c878;
    font-size: 0.9rem;
}
