body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d3a3f;
}

h1 {
    color: #50c878;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
}

.game-container {
    display: flex;
    align-items: center;
}

#game-board {
    background-color: #1e272e;
    border: 1px solid #000;
}

#current-score,
#top-score {
    font-size: 20px;
    color: #50c878;
    margin-left: 20px;
    white-space: nowrap;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #50c878;
    font-size: 14px;
    margin-top: 30px;
}

footer p {
    margin: 0;
}
